/* CSS declarations go here */
normalize-css()

shadow-level(l = 1)
    if l == -1
        box-shadow: inset -2px 7px 9px -7px rgba(0,0,0,0.7);
    if l == 0
        box-shadow: none;
    if l == 1
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    if l == 2
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    if l == 3
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    if l == 4
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    if l == 5
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Screen Sizes
$xsmall = 480px
$small = 768px
$medium = 992px
$large = 1200px

// Colors
green = #28AD0F
blue = #0835BA
teal = #07C4A6
yellow = #C4B207
orange = #BA6F14
dark-green = #136104
light-green = #4EFA2F
dark-purple = #610046
purple = #AD0F81
light-grey = #EEE
red = #D9180E

z = {
  neg: -1,
  lowest: 1,
  low: 3,
  mid: 5,
  header: 7,
  nav: 8,
  modal: 10,
  highest: 11
}

$button-type = {
  primary: teal,
  deny: red
}

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  background light-grey
  padding: 70px 0 150px

header
  padding 20px
  fixed top left
  height 70px
  h1
    margin 0
    font-size 1.6em
    float left
  .login-buttons-dropdown-align-
    float right
    a
      color #FFF
      text-decoration none

footer
  padding 5px 5px 5px 20px
  fixed bottom left
  height 30px

.header-footer
  color #FFF
  background dark-purple
  width 100%
  z-index: z.header
  shadow-level(2)
  clearfix()

.billboard
  background teal
  color #FFF
  font-size 2em
  text-align center
  padding 60px
  h2
    margin 0

.main-layout
  lost-center 90%
  margin-top 20px

.new-donation
  margin-bottom 20px

form
  label
    display block
    margin-bottom 10px

.new-donation-container
  position relative
  text-transform capitalize
  background #FFF
  padding 20px
  margin-bottom 20px
  shadow-level(2)
  .fa-close
    position absolute
    top 0
    right 0
    padding 20px
  textarea, input
    width 100%

.btn, button
  display inline-block
  background purple
  color #FFF
  text-decoration none
  text-transform uppercase
  padding 5px 15px
  border solid 3px purple
  border-radius 2px
  font-weight 800
  shadow-level(1)
  trans()
  &:hover
    background @background - 20
    border-color @background
    shadow-level(2)

input, select, textarea
  background #FFF
  border solid 2px light-grey
  border-radius 2px
  font-weight 800
  width 100%
  padding 6px 10px
  margin-bottom 10px

.list-group
  list-style none
  padding 0

.panel-body
  .form-group
    lost-column 1/2

.autoform-remove-item-wrap
  vertical-align middle

.autoform-remove-item.btn
  background purple
  box-shadow none
  border none
  border-radius 5px
  font-size 1em
  height 25px
  width 25px
  text-align center
  display block
  padding 0

.autoform-add-item.btn
  width 100%
  border-radius 5px
  border none
  box-shadow none
  background purple

.donation
  position relative
  text-transform capitalize
  background #FFF
  padding 20px
  margin-bottom 20px
  z-index 1
  shadow-level(1)
  trans()
  .btn-primary, .btn-deny
    display block
  h3
    font-size: 2em;
    opacity: 0.5;
    border-bottom: rgba(0,0,0, 0.3) solid 3px
    margin-top 0
    margin-bottom 10px
  button
    margin-top 20px
  .fa-trash, .fa-pencil
    opacity 0.3
    cursor pointer
    position absolute
    top 0
    right 0
    font-size 1.6em
    display block
    padding 20px
    color black
    trans()
    &:hover
      color red
      opacity 0.6
  .fa-pencil
    right 40px
    &:hover
      color purple
  .food
    display inline-block
    margin-right 10px
    font-size 1.2em
  &:hover
    shadow-level(3)

.login-buttons-dropdown-align-
  #login-dropdown-list
    right 0
    left auto
    a
      color dark-purple
