<template name="Header">
  <nav>
    <div class="nav-wrapper z-depth-2">
      <div class="logo"><a href="#!" class="brand-logo">Project Amrita</a></div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{#if currentUser}}
          <a class="signout">Sign Out</a>
        {{else}}
          <li>
            <a class="modal-trigger" href="#signin">Sign In</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <div id="signin" class="modal">
    {{> Accounts_signin}}
  </div>
</template>
